<div class="chat-area-component">
    <div class="line-container">
        <div class="line"></div>
        <div class="date-container">
            <div class="date-border"></div>
            <span class="current-date">{{ formattedDate }}</span>
        </div>
        <div class="line"></div>
    </div>
    <div *ngFor="let message of chatPartnerMessages">
        <div class="message-container">
            <div>
                <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
            </div>
            <div>
                <div class="sender-and-time">
                    <div class="sender">{{ userService.getUserName(message.senderId) }}</div>
                    <div class="timestamp">{{ sharedService.formatTime(message.timestamp) }}</div>
                </div>
                <div class="message">{{ message.message }}</div>
            </div>
        </div>
    </div>
</div>