<div class="chat-area-component">
    <div class="line-container">
        <div class="line"></div>
        <div class="date-container">
            <div class="date-border"></div>
            <span class="current-date">{{ formattedDate }}</span>
        </div>
        <div class="line"></div>
    </div>
    <div class="message-container">
        <div>
            <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">John Doe</div>
                <div class="timestamp">12:34 Uhr</div>
            </div>
            <div class="message">Hallo, wie geht es dir?</div>
        </div>
    </div>
</div>