<div class="dashboard">
    <app-header></app-header>
    <div class="dashboard-main" [style.width]="changeWidth">
        <app-sidebar></app-sidebar>
        <div class="chat-container">
            <app-channel-chat *ngIf="isChannelChatActive" (activateThreadEvent)="activateThread()"></app-channel-chat>
            <app-direct-chat *ngIf="isDirectChatActive"></app-direct-chat>
        </div>
        <app-thread *ngIf="isThreadActive" (closeThreadEvent)="handleThreadClosed()"></app-thread>
    </div>
</div>