<div class="chat-area-component">
    <div class="line-container">
        <div class="line"></div>
        <div class="date-container">
            <div class="date-border"></div>
            <span class="current-date">{{ formattedDate }}</span>
        </div>
        <div class="line"></div>
    </div>

    <div *ngIf="channel && channel.length > 0 && channel[0]?.messages">
        <div *ngFor="let message of channel[0]?.messages" class="message-container">
            <div>
                <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
            </div>
            <div *ngIf="message">
                <div class="sender-and-time">
                    <div class="sender">{{ message.userSend }}</div>
                    <div class="timestamp">{{ sharedService.formatTime(message.timestamp) }}</div>
                    <div class="overlay">
                        <img (click)="addEmoji(this.message, 'checkmark')" src="./assets/img/chat-area/emoji_checkmark.png">
                        <img (click)="addEmoji(this.message, 'hands')" src="./assets/img/chat-area/emoji_raising_hands.png"
                            alt="">
                        <img src="./assets/img/chat-area/add_reaction (1).png" alt="">
                        <img src="./assets/img/chat-area/comment.png" alt="">
                        <!-- <img src="./assets/img/chat-area/more_vert.png" alt=""> -->
                    </div>
                </div>
                <div class="message">{{ message.message }}</div>
                <div class="answers">
                    <div *ngIf="message.answers.length > 0; else noAnswers" class="answer-count" (click)="answerMessage(this.message);">{{ message.answers.length }} Antworten</div>
                      <ng-template #noAnswers>
                        <div (click)="answerMessage(this.message);" class="answer-count">Antworten</div>
                      </ng-template>
                    <div *ngIf="" class="last-answer">Letzte Antwort 15:56</div>
                </div>
            </div>
        </div>
    </div>
</div>