<div class="channel-chat">
    <div class="channel-chat-header">
        <div class="channel-chat-header-left">
            <img src="./assets/img/{{ userService.getUserAvatar(chatPartnerId) }}.png">
            <p>{{ userService.getUserName(chatPartnerId) }}</p>
        </div>
    </div>
    <div class="chat-area">
        <app-direct-chat-area></app-direct-chat-area>
    </div>
    <div class="chat-partner">
        <div class="chat-partner-img-name">
            <img src="./assets/img/{{ userService.getUserAvatar(chatPartnerId) }}.png">
            <h4>{{ userService.getUserName(chatPartnerId) }}</h4>
        </div>
        <div>
            <p>Diese Unterhaltung findet nur zwischen <span class="chat-partner-name">@{{ userService.getUserName(chatPartnerId) }}</span> und dir statt.</p>
        </div>
    </div>
    <div class="thread-answer-box">
        <textarea [(ngModel)]="newDirectMessage" placeholder="Nachricht an {{ userService.getUserName(chatPartnerId) }}" cols="30" rows="4"></textarea>
        <div class="thread-icon-bar">
            <div class="thread-icon-bar-left">
                <img src="./assets/img/thread/add.png">
                <div class="separator"></div>
                <img src="./assets/img/thread/sentiment_satisfied.png">
                <img src="./assets/img/thread/alternate_email.png">
            </div>
            <div class="thread-icon-bar-right">
                <img (click)="sendMessage()" src="./assets/img/thread/send.png">
            </div>
        </div>
    </div>
</div>
