<div class="main">
    <img class="logo" src="/assets/img/header-img.png" alt="">
    <div class="new_pw_div">
        <div [routerLink]="['/pw-reset']" class="arrow_back">
            <img src="/assets/img/arrow_back.png" alt="">
        </div>
        <div class="headline">Passwort zurücksetzen</div>
        <div class="input_div">
            <img class="input_img_2" src="/assets/img/lock.png">
            <input [(ngModel)]="newPassword" name="newPassword" placeholder="Neues Passwort" type="password">
            <!--<div class="password-requirements">
                <ul>
                    <li>8-32 Zeichen</li>
                    <li>Mind. ein Sonderzeichen</li>
                    <li>Mind. eine Zahl</li>
                    <li>Mind. ein Großbuchstabe</li>
                </ul>
            </div>-->
        </div>
        <div class="input_div">
            <img class="input_img_2" src="/assets/img/lock.png">
            <input [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Passwort bestätigen" type="password">
        </div>
        <div class="change_pw" (click)="changePassword()">Passwort ändern</div>
    </div>
</div>
