<div class="choose_avatar_div">
    <div class="arrow_back">
      <img src="assets/img/arrow_back.png" alt="">
    </div>
    <div class="headline">Wähle deinen Avatar</div>
  
    <img *ngIf="selectedAvatar" [src]="'assets/img/' + selectedAvatar + '.png'" alt="">
  
    <span>{{ userName }}</span>
    <div class="choose">
      <span>Aus der Liste wählen...</span>
      <div class="avatar_images">
        <div>
          <img *ngFor="let avatarID of avatarIDs"
               [src]="'assets/img/' + avatarID + '.png'"
               [class.selected]="avatarID === selectedAvatar"
               (click)="selectAvatar(avatarID)">
        </div>
      </div>
    </div>
    <div class="go_on_button" [routerLink]="['/login']">Weiter</div>
  </div>
  