<div class="choose_avatar_div">
    <div class="arrow_back">
        <img src="assets/img/arrow_back.png" alt="">
    </div>
    <div class="headline">Wähle deinen Avatar</div>
    <img  src="assets/img/81. Profile.png" alt="">

    <span>NAME DES USERS</span>
    <div class="choose">
        <span>Aus der Liste wählen...</span>
        <div class="avatar_images">
            <div>
                <img src="assets/img/user_avatar.png" alt="">
                <img src="assets/img/user_avatar1.png" alt="">
                <img src="assets/img/user_avatar2.png" alt="">
                <img src="assets/img/user_avatar3.png" alt="">
                <img src="assets/img/user_avatar4.png" alt="">
                <img src="assets/img/user_avatar5.png" alt="">
            </div>
        </div>
        
    </div>
    <div class="go_on_button">Weiter</div>
</div>