<div class="signin_div">
    <span class="headline">Anmeldung</span>
    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailPassword()">
      <div class="input_div">
        <img class="input_img" src="assets/img/mail.png" alt="">
        <input type="email" formControlName="email" placeholder="E-Mail-Adresse">
        <div *ngIf="isSubmitClicked && loginForm.get('email')?.hasError('required')" class="error">Dieses Feld ist erforderlich.</div>
        <div *ngIf="isSubmitClicked && loginForm.get('email')?.hasError('email')" class="error">Ungültige E-Mail-Adresse.</div>
      </div>
      <div class="input_div">
        <img class="input_img_2" src="assets/img/lock.png">
        <input type="password" formControlName="password" placeholder="Passwort">
        <div *ngIf="isSubmitClicked && loginForm.get('password')?.hasError('required')" class="error">Dieses Feld ist erforderlich.</div>
        <div *ngIf="isSubmitClicked && loginForm.get('password')?.hasError('minlength')" class="error">Das Passwort muss mindestens 6 Zeichen lang sein.</div>
      </div>
      <div class="forgot_pw" [routerLink]="['/pw-reset']">Passwort vergessen?</div>
      <div class="or">
        <img src="assets/img/line.png" alt="">
        <span>ODER</span>
        <img src="assets/img/line.png" alt="">
      </div>
      <div (click)="loginWithGoogle()" class="google_button">
        <img src="assets/img/Google.png" alt="">
        <span>Anmelden mit Google</span>
      </div>
      <div class="button_div_sign_in">
        <button type="submit" class="signin_button">Anmelden</button>
        <div class="guest_login_button" [routerLink]="['/dashboard']">Gäste-Login</div>
      </div>
    </form>
  </div>
  