<div class="signup_div">
    <div [routerLink]="['/login']" class="arrow_back">
        <img src="assets/img/arrow_back.png" alt="">
    </div>
    <div class="headline">Konto erstellen</div>
    <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
    <div class="input_div">
        <img class="input_img_2" src="assets/img/person_filled.png" alt="">
        <input placeholder="Name" type="text" [(ngModel)]="name">
       <!-- <span class="error">Bitte schreiben Sie einen Namen.</span>-->
    </div>
    <div class="input_div">
        <img class="input_img" src="/assets/img/mail.png" alt="">
        <input placeholder="beispielname@email.com" type="email" [(ngModel)]="email">
        <!--<span class="error">Diese E-Mail-Adresse ist leider ungültig.</span>-->
    </div>
    <div class="input_div">
        <img class="input_img_3" src="/assets/img/lock.png" alt="">
        <input placeholder="Passwort" type="password" [(ngModel)]="password">
        <!--<div class="error">
            <span>8-32 Zeichen</span>
            <span>Sonderzeichen</span>
            <span>Zahl</span>
            <span>Großbuchstabe</span>
        </div>-->
    </div>

    <div class="go_on" (click)="registerWithEmailAndPassword()">Weiter</div>
</div>