<div class="thread-chat-area">
    <div class="message-container">
        <div>
            <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">John Doe</div>
                <div class="timestamp">12:34 Uhr</div>
            </div>
            <div class="message">Hallo, wie geht es dir?</div>
        </div>
    </div>
    <div class="answers">
        <div class="answer-count">2 Antworten</div>
        <div class="line"></div>
    </div>

    <div class="answer-container">
        <div>
            <img src="./assets/img/thread/Avatar.png" alt="">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">Sofia Müller</div>
                <div class="timestamp">13:54 Uhr</div>
            </div>
            <div class="message">Es geht mir gut. Danke!</div>
            <div class="answer-emojies">
                <div class="emojies-list">
                    <img src="./assets/img/thread/add_reaction.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>