<div class="chat-area-component">
    <div class="line-container">
        <div class="line"></div>
        <div class="date-container">
            <div class="date-border"></div>
            <span class="current-date">{{ formattedDate }}</span>
        </div>
        <div class="line"></div>
    </div>
    <div class="message-container">
        <div>
            <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
        </div>
        <div *ngFor="let message of channelMessages">
            <div class="sender-and-time">
                <div class="sender">John Doe</div>
                <div class="timestamp">12:34 Uhr</div>
                <div class="overlay">
                    <img src="./assets/img/chat-area/🦆 emoji _white heavy check mark_.png" alt="">
                    <img src="./assets/img/chat-area/🦆 emoji _person raising both hands in celebration_.png" alt="">
                    <img src="./assets/img/chat-area/add_reaction (1).png" alt="">
                    <img src="./assets/img/chat-area/comment.png" alt="">
                    <!-- <img src="./assets/img/chat-area/more_vert.png" alt=""> -->
                </div>
            </div>
            <div class="message">{{ message.message }}</div>
            <div class="answers">
                <div class="answer-count" (click)="onActivateThreadClick()">2 Antworten</div>
                <div class="last-answer">Letzte Antwort 15:56</div>
            </div>
        </div>
    </div>
</div>