html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  background-color: #565659; //#eceefe
  //padding: 25px 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hover_pointer{
  cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
