<div class="thread-container">
    <div class="thread-header">
        <div class="thread-header-left">
            <h3>Thread</h3>
            <p># Entwicklerteam</p>
        </div>
        <div>
            <img src="./assets/img/thread/close.png" alt="">
        </div>
    </div>
    <div class="thread-messages">
        <app-thread-chat-area></app-thread-chat-area>
    </div>
    <div class="thread-answer-box">
        <textarea placeholder="Antworten..." id="thread-answer-text" rows="4"></textarea>
        <div class="thread-icon-bar">
            <div class="thread-icon-bar-left">
                <img src="./assets/img/thread/add.png">
                <div class="separator"></div>
                <img src="./assets/img/thread/sentiment_satisfied.png">
                <img src="./assets/img/thread/alternate_email.png">
            </div>
            <div class="thread-icon-bar-right">
                <img src="./assets/img/thread/send.png">
            </div>
        </div>
    </div>
</div>