<div class="thread-chat-area">
    <div class="message-container">
        <div>
            <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">{{ currentMessage.userSend }}</div>
                <div class="timestamp">{{ sharedService.formatTime(currentMessage.timestamp) }}</div>
                <div class="overlay">
                    <img src="./assets/img/thread/add_reaction.png" alt="" (click)="openEmojiList()">
                </div>
            </div>
            <div class="message">{{ currentMessage.message }}</div>
        </div>
    </div>
    <div class="answers">
        <div *ngIf="currentMessage.answers.length > 0; else noAnswers" class="answer-count">{{ currentMessage.answers.length }} Antworten</div>
        <ng-template #noAnswers>
            <div class="answer-count">0 Antworten</div>
        </ng-template>
        <div class="line"></div>
    </div>

    <div class="answer-container" *ngFor="let answers of currentMessage.message.answers">
        <div>
            <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">Sofia Müller</div>
                <div class="timestamp">13:54 Uhr</div>
                <div class="overlay">
                    <img src="./assets/img/thread/add_reaction.png" alt="">
                </div>
            </div>
            <div class="message">Es geht mir gut. Danke!</div>
            <div class="answer-emojies">
                <div class="emojies-list">
                    <img src="./assets/img/thread/add_reaction.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>