<div class="thread-chat-area">
    <div class="message-container">
        <div>
            <img src="./assets/img/{{ userService.getUserAvatar(currentMessage[0].userSend) }}.png">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">{{ userService.getUserName(currentMessage[0].userSend)  }} </div>
                <div class="timestamp">{{ sharedService.formatTime(currentMessage[0].timestamp) }} </div>
                <div class="overlay">
                    <img src="./assets/img/thread/add_reaction.png" alt="" (click)="openEmojiList()">
                </div>
            </div>
            <div class="message">{{ currentMessage[0].message }}</div>
        </div>
    </div>
    <div class="answers">
        <div *ngIf="currentMessage[0].answers.length > 0; else noAnswers" class="answer-count">{{ currentMessage[0].answers.length }} Antworten</div>
        <ng-template #noAnswers>
            <div class="answer-count">0 Antworten</div>
        </ng-template>
        <div class="line"></div>
    </div>

    
    <div class="answer-container" *ngFor="let answers of currentMessage[0].answers">
        <div>
            <img src="./assets/img/chat-area/80. avatar interaction.png" alt="">
        </div>
        <div>
            <div class="sender-and-time">
                <div class="sender">{{ answers.userSend }} </div>
                <div class="timestamp">{{ sharedService.formatTime(answers.timestamp) }}</div>
                <div class="overlay">
                    <img src="./assets/img/thread/add_reaction.png" alt="">
                </div>
            </div>
            <div class="message">{{ answers.message }}</div>
            <div class="answer-emojies">
                <div class="emojies-list">
                    <img src="./assets/img/thread/add_reaction.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>