.channel-chat {
    background-color: white;
    height: 940px;
    max-width: 50vw;
    min-width: 40vw;
    width: auto;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
}