<div class="channel-chat">
    <div class="channel-chat-header">
        <div class="channel-chat-header-left">
            <p *ngIf="selectedChannel; else noChannelMessage"># {{ selectedChannel | titlecase }}</p>
            <ng-template #noChannelMessage>
                <p># Allgemein</p>
            </ng-template>
            <img class="arrow-svg" src="./assets/img/channel-chat/keyboard_arrow_down.svg" alt="">
        </div>
        <div class="channel-chat-header-right">
            <div class="chat-member-icons">
                <img src="./assets/img/chat-area/80. avatar interaction.png" alt=".">
                <img src="./assets/img/chat-area/80. avatar interaction.png" alt=".">
                <img src="./assets/img/chat-area/80. avatar interaction.png" alt=".">
                <p>3</p>
            </div>
            <img class="add-person" src="./assets/img/channel-chat/person_add.svg" alt="">
        </div>
    </div>
    <div class="chat-area">
        <app-chat-area (activateThreadEvent)="passActivateThreadEvent($event)"></app-chat-area>
    </div>
    <div class="thread-answer-box">
        <textarea [(ngModel)]="newMessage" *ngIf="selectedChannel; else noChannelPlaceholder" placeholder="Nachricht an # {{ selectedChannel | titlecase  }}" cols="30" rows="4"></textarea>
        <ng-template #noChannelPlaceholder>
            <textarea [(ngModel)]="newMessage" placeholder="Nachricht an # Allgemein" cols="30" rows="4"></textarea>
        </ng-template>
        <div class="thread-icon-bar">
            <div class="thread-icon-bar-left">
                <img src="./assets/img/thread/add.png">
                <div class="separator"></div>
                <img src="./assets/img/thread/sentiment_satisfied.png">
                <img src="./assets/img/thread/alternate_email.png">
            </div>
            <div class="thread-icon-bar-right">
                <img src="./assets/img/thread/send.png" (click)="sendMessage()">
            </div>
        </div>
    </div>
</div>